@model int?

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="workPackagedId" type="hidden" value="@Model" />
<section>
    <div class="container">
        @if (Model.HasValue)
        {
            <h2>Edit work package</h2>
        }
        else
        {
            <h2>New work package</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong.</h5>
        <form data-bind="submit: save">
            <div class="form-group">
                <label>Procedure*</label>
                <div data-bind="foreach: procedures">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="procedure" data-bind="checked: $root.procedureId, checkedValue: Id, attr:{id: 'p'+Id}" />
                        <label data-bind="text: ProcedureName, attr:{for: 'p'+Id}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Name*</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: workPackagedThingName" />
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: webLink" />
            </div>
            <div data-bind="visible: workPackagedKind()===1">
                <div class="form-group">
                    <label>Prefix</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: statutoryInstrumentNumberPrefix" />
                </div>
                <div class="form-group">
                    <label>Number</label>
                    <input type="number" class="form-control form-control-md" data-bind="textInput: statutoryInstrumentNumber" />
                </div>
                <div class="form-group">
                    <label>Year</label>
                    <input type="number" class="form-control form-control-md" data-bind="textInput: statutoryInstrumentNumberYear" />
                </div>
                <div class="form-group">
                    <label>Coming into force note</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: comingIntoForceNote" />
                </div>
                <div class="form-group">
                    <label>Coming into force date</label>
                    <date-entry params="date: comingIntoForceDate"></date-entry>
                </div>
                <div class="form-group">
                    <label>Made date</label>
                    <date-entry params="date: madeDate"></date-entry>
                </div>
            </div>
            @if (Model.HasValue)
            {
                <div class="form-group">
                    <label>Work packaged Id</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: workPackaged.TripleStoreId" readonly />
                </div>
                <div class="form-group">
                    <label>Work package Id</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: workPackaged.ProcedureWorkPackageTripleStoreId" readonly />
                </div>
            }
            @if (Model.HasValue)
            {
                <h6 class="text-muted">Work package can be deleted only if its Business Item and Work Package Preceding are deleted first.</h6>
            }
            <section>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave">@(Model.HasValue ? "Update" : "Add")</button>
                @if (Model.HasValue)
                {
                    <button data-bind="click: showDeletePopup" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
                }
            </section>
        </form>
    </div>
</section>
<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteWorkPackaged, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/workpackagededit.js" src="~/Scripts/require.js"></script>
}
