@model int

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="workPackagedId" type="hidden" value="@Model" />
<section>
    <div class="container">
        <h2>Work package: <span data-bind="text: workPackaged().WorkPackagedThingName"></span></h2>
        <h3>Procedure: <span data-bind="text: workPackaged().ProcedureName"></span></h3>
        <h3>Work packaged Id: <span data-bind="text: workPackaged().TripleStoreId"></span></h3>
        <h3>Work package Id: <span data-bind="text: workPackaged().ProcedureWorkPackageTripleStoreId"></span></h3>
        <h3 data-bind="visible: (workPackaged().StatutoryInstrumentNumberPrefix||'').length>0">Prefix: <span data-bind="text: workPackaged().StatutoryInstrumentNumberPrefix"></span></h3>
        <h3 data-bind="visible: (workPackaged().StatutoryInstrumentNumber!==null">Number: <span data-bind="text: workPackaged().StatutoryInstrumentNumber"></span></h3>
        <h3 data-bind="visible: workPackaged().StatutoryInstrumentNumberYear!==null">Year: <span data-bind="text: workPackaged().StatutoryInstrumentNumberYear"></span></h3>
        <a href="/WorkPackage/Edit/@Model" class="btn btn-outline-primary btn-sm">Edit</a>
        <a href="/BusinessItem/Add?workPackageId=@Model" class="btn btn-outline-secondary btn-sm">Add business item</a>
        <a data-bind="attr:{ href:'https://beta.parliament.uk/work-packages/'+workPackaged().ProcedureWorkPackageTripleStoreId}" class="btn btn-outline-secondary btn-sm" target="_blank">Website</a>
    </div>
</section>

<section id="graphviz" class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" style="overflow:hidden;pointer-events:none;" scrolling="no" data-bind="attr: {src: 'https://procedures.azurewebsites.net/workpackagesgraphviz/'+ workPackaged().ProcedureWorkPackageTripleStoreId}"></iframe>
</section>

<section>
    <div class="container">
        <h4>Business items</h4>
        <ul class="list-group list-group-flush" data-bind="visible:businessItems().length>0, foreach: businessItems">
            <li class="list-group-item">
                <business-item-list-item params="businessItem: $data"></business-item-list-item>
                <a class="btn btn-outline-primary btn-sm" data-bind="attr: {href: window.urls.showBusinessItem.replace('{id}',Id)}">Select</a>
            </li>
        </ul>
    </div>
</section>

@section scripts{
<script data-main="/Scripts/Views/workpackagedview.js" src="~/Scripts/require.js"></script>
}
