@model int?

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="routeId" type="hidden" value="@Model" />
<section>
    <div class="container">
        @if (Model.HasValue)
        {
            <h2>Edit route</h2>
        }
        else
        {
            <h2>New route</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong. Please contact support.</h5>
        <form data-bind="submit: save">
            <div class="form-group">
                <label>Procedure*</label>
                <div data-bind="foreach: procedures">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="procedure" data-bind="checked: $root.procedureId, checkedValue: Id, attr:{id: 'p'+Id}" />
                        <label data-bind="text: ProcedureName, attr:{for: 'p'+Id}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Type*</label>
                <div data-bind="foreach: routeTypes">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="routeType" data-bind="checked: $root.procedureRouteTypeId, checkedValue: Id, attr:{id: 'p'+Id}" />
                        <label data-bind="text: ProcedureRouteTypeName, attr:{for: 'p'+Id}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>From step*</label>
                <step-selector params="procedureStepId: fromProcedureStepId, steps: steps"></step-selector>                
            </div>
            <div class="form-group">
                <label>To step*</label>
                <step-selector params="procedureStepId: toProcedureStepId, steps: steps"></step-selector>
            </div>
            @if (Model.HasValue)
            {
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: route.TripleStoreId" readonly />
                </div>
            }
            <section>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave">@(Model.HasValue ? "Update" : "Add")</button>
                @if (Model.HasValue)
                {
                    <button data-bind="click: showDeletePopup" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
                }
            </section>
        </form>
    </div>
</section>
<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteRoute, actionText: 'Delete'"></popup>

@section scripts{
<script data-main="/Scripts/Views/routeedit.js" src="~/Scripts/require.js"></script>
}
