@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2>Routes</h2>
        <a href="/Route/Add" class="btn btn-outline-primary btn-sm">Add route</a>
    </div>
</section>

<section>
    <div class="container">
        <ul class="list-group list-group-flush" data-bind="visible:routes().length>0, foreach: routes">
            <li class="list-group-item">
                <a data-bind="attr: {href: window.urls.showRoute.replace('{id}',Id)}">
                    <h5 data-bind="text: ProcedureName"></h5>
                    <h6 data-bind="text: ProcedureRouteTypeName"></h6>
                    <h6>From <span data-bind="text: FromProcedureStepName"></span> to <span data-bind="text: ToProcedureStepName"></span></h6>
                </a>
            </li>
        </ul>
    </div>
</section>



@section scripts{
    <script src="~/Scripts/Views/routelist.js"></script>
}
