@model int?

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="workPackageablePrecedingId" type="hidden" value="@Model" />
<section>
    <div class="container">
        @if (Model.HasValue)
        {
            <h2>Edit work package preceding</h2>
        }
        else
        {
            <h2>New work package preceding</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong. Please contact support.</h5>
        <form data-bind="submit: save">
            <div class="form-group">
                <label>Preceding*</label>
                <work-package-selector params="procedureWorkPackageId: precedingProcedureWorkPackageableThingId, workPackageables: workPackageables"></work-package-selector>
            </div>
            <div class="form-group">
                <label>Following*</label>
                <work-package-selector params="procedureWorkPackageId: followingProcedureWorkPackageableThingId, workPackageables: workPackageables"></work-package-selector>
            </div>
            <section>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave">@(Model.HasValue ? "Update" : "Add")</button>
                @if (Model.HasValue)
                {
                    <button data-bind="click: showDeletePopup" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
                }
            </section>
        </form>
    </div>
</section>
<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteWorkPackageablePreceding, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/workpackageableprecedingedit.js" src="~/Scripts/require.js"></script>
}
