@model int

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="workPackageablePrecedingId" type="hidden" value="@Model" />
<section>
    <div class="container">
        <h2>Preceding: <span data-bind="text: workPackageablePreceding().PrecedingProcedureWorkPackageableThingName"></span></h2>
        <h2>Following: <span data-bind="text: workPackageablePreceding().FollowingProcedureWorkPackageableThingName"></span></h2>
        <a href="/WorkPackagePreceding/Edit/@Model" class="btn btn-outline-primary btn-sm">Edit</a>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Views/workpackageableprecedingview.js"></script>
}
