@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2>Work packages</h2>
        <a href="/WorkPackage/Add" class="btn btn-outline-primary btn-sm">Add work package</a>
    </div>
</section>

<section>
    <div class="container">
        <ul class="list-group list-group-flush" data-bind="visible:workPackageables().length>0, foreach: workPackageables">
            <li class="list-group-item">
                <a data-bind="attr: {href: window.urls.showWorkPackage.replace('{id}',Id)}">
                    <h5 data-bind="text: ProcedureWorkPackageableThingName"></h5>
                    <h6 data-bind="text: ProcedureName"></h6>
                    <h6>Date of the most recent business item: <span data-bind="text:isNaN(Date.parse(MostRecentBusinessItemDate))?'N/A':new Date(MostRecentBusinessItemDate).toLocaleDateString('en-GB')"></span></h6>
                </a>
            </li>
        </ul>
    </div>
</section>



@section scripts{
    <script src="~/Scripts/Views/workpackagelist.js"></script>
}
