@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2 data-bind="visible: treaties().length>0" style="display:none">Data imported from Solr</h2>
        <h2 data-bind="visible: treaties().length===0" style="display:none">No data imported from Solr</h2>
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong.</h5>
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong.</h5>
        <ul class="list-group list-group-flush" data-bind="foreach: treaties">
            <li class="list-group-item">
                <h5 data-bind="text: Title"></h5>
                <h6 data-bind="visible: Prefix!=null"><span>Prefix: </span><span data-bind="text: Prefix"></span></h6>
                <h6 data-bind="visible: Number!=null"><span>Number: </span><span data-bind="text: Number"></span></h6>
                <h6 data-bind="visible: Citation!=null"><span>Citation: </span><span data-bind="text: Citation"></span></h6>
                <a class="btn btn-outline-primary btn-sm" data-bind="attr:{href:window.urls.editSolrTreaty.replace('{id}',Id) }">Create work package</a>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bind="click: $parent.showDeletePopup">Delete</button>
            </li>
        </ul>        
    </div>
</section>



<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteTreaty, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/solrfeedtreatylist.js" src="~/Scripts/require.js"></script>
}