@model int?

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="procedureId" type="hidden" value="@Model" />
<section>
    <div class="container">
        @if (Model.HasValue)
        {
            <h2>Edit procedure</h2>
        }
        else
        {
            <h2>New procedure</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong.</h5>
        <form data-bind="submit: save">
            <div class="form-group">
                <label>Name*</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: procedureName" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: procedureDescription" />
            </div>

            @if (Model.HasValue)
            {
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: procedure.TripleStoreId" readonly />
                </div>
            }
            @if (Model.HasValue)
            {
                <h6 class="text-muted">Procedure can be deleted only if its Route and Work Package are deleted first.</h6>
            }
            <section>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave">@(Model.HasValue ? "Update" : "Add")</button>
                @if (Model.HasValue)
                {
                    <button data-bind="click: showDeletePopup" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
                }
            </section>
        </form>
    </div>
</section>

<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteProcedure, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/procedureedit.js" src="~/Scripts/require.js"></script>
}
