@model int

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="procedureId" type="hidden" value="@Model" />
<section>
    <div class="container">
        <h2>Procedure: <span data-bind="text: procedure().ProcedureName"></span></h2>
        <h3>Id: <span data-bind="text: procedure().TripleStoreId"></span></h3>
        <a href="/Procedure/Edit/@Model" class="btn btn-outline-primary btn-sm">Edit</a>
    </div>
</section>

<section>
    <div class="container">
        <h4>Work packages</h4>
        <ul class="list-group list-group-flush" data-bind="visible:workPackagedList().length>0, foreach: workPackagedList">
            <li class="list-group-item">
                <work-packaged-list-item params="workPackaged: $data"></work-packaged-list-item>
                <a class="btn btn-outline-primary btn-sm" data-bind="attr: {href: window.urls.showWorkPackaged.replace('{id}',Id)}">Select</a>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
        <h4>Routes</h4>
        <ul class="list-group list-group-flush" data-bind="visible:routes().length>0, foreach: routes">
            <li class="list-group-item">
                <route-list-item params="route: $data"></route-list-item>
                <a class="btn btn-outline-primary btn-sm" data-bind="attr: {href: window.urls.showRoute.replace('{id}',Id)}">Select</a>
            </li>
        </ul>
    </div>
</section>

@section scripts{
    <script data-main="/Scripts/Views/procedureview.js" src="~/Scripts/require.js"></script>    
}
