@model int?

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="layingItemId" type="hidden" value="@Model" />
<section>
    <div class="container">
        @if (Model.HasValue)
        {
            <h2>Edit laying item</h2>
        }
        else
        {
            <h2>New laying item</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong. Please contact support.</h5>
        <form data-bind="submit: save">
            <div class="form-group">
                <label>Business item*</label>
                @if (Model.HasValue)
                {
                    <div data-bind="text: businessItem().WorkPackagedThingName"></div>
                    <div data-bind="text: businessItem().ProcedureName"></div>
                    <div data-bind="text: businessItem().TripleStoreId"></div>
                }
                else
                {
                    <business-item-selector params="businessItem: businessItem, businessItems: businessItems"></business-item-selector>
                }
            </div>
            <div class="form-group">
                <label>Laying body</label>
                <laying-body-selector params="layingBodyId: layingBodyId, layingBodies: layingBodies"></laying-body-selector>
            </div>
            <div class="form-group">
                <label>Laying date</label>
                <date-entry params="date: layingDate"></date-entry>
            </div>
            @if (Model.HasValue)
            {
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: layingItem.TripleStoreId" readonly />
                </div>
            }
            <section>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave">@(Model.HasValue ? "Update" : "Add")</button>
                @if (Model.HasValue)
                {
                    <button data-bind="click: showDeletePopup" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
                }
            </section>
        </form>
    </div>
</section>
<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteLayingItem, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/layingitemedit.js" src="~/Scripts/require.js"></script>
}
