@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2>Layings</h2>
        <a href="/LayingItem/Add" class="btn btn-outline-primary btn-sm">Add laying</a>
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong. Please contact support.</h5>
        <ul class="list-group list-group-flush" data-bind="visible:layingItems().length>0, foreach: layingItems">
            <li class="list-group-item">
                <h5 data-bind="text: WorkPackagedThingName"></h5>
                <h6 data-bind="text: LayingBodyName"></h6>
                <h6 data-bind="text: TripleStoreId"></h6>
                <a class="btn btn-outline-primary btn-sm" data-bind="attr: {href: window.urls.showLayingItem.replace('{id}',Id)}">Select</a>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bind="click: $parent.showDeletePopup">Delete</button>
            </li>
        </ul>
    </div>
</section>

<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteLayingItem, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/layingitemlist.js" src="~/Scripts/require.js"></script>
}
