@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2>Steps</h2>
        <a href="/Step/Add" class="btn btn-outline-primary btn-sm">Add step</a>
    </div>
</section>

<section>
    <div class="container">
        <h6 class="text-muted">Step can be deleted only if its Route and Business Item are deleted first.</h6>
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong.</h5>
        <ul class="list-group list-group-flush" data-bind="visible:steps().length>0, foreach: steps">
            <li class="list-group-item">
                <h5 data-bind="text: ProcedureStepName"></h5>
                <ul class="list-inline" data-bind="foreach: HouseNames">
                    <li class="list-inline-item"><h6 data-bind="text: $data"></h6></li>
                </ul>
                <h6 data-bind="text: TripleStoreId"></h6>
                <a class="btn btn-outline-primary btn-sm" data-bind="attr: {href: window.urls.showStep.replace('{id}',Id)}">Select</a>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bind="click: $parent.showDeletePopup">Delete</button>
            </li>
        </ul>
    </div>
</section>

<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteStep, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/steplist.js" src="~/Scripts/require.js"></script>    
}
