@model BusinessItemEditParameters

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="businessItemId" type="hidden" value="@Model.BusinessItemId" />
<input id="workPackageId" type="hidden" value="@Model.WorkPackageId" />
<section>
    <div class="container">
        @if (Model.BusinessItemId.HasValue)
        {
            <h2>Edit business item</h2>
        }
        else
        {
            <h2>New business item</h2>
        }
    </div>
</section>

<section>
    <div class="container">
        <h5 class="text-danger" data-bind="visible: isNotValidResponse" style="display:none">Something went wrong.</h5>
        <form>
            <div class="form-group">
                <label>Work package*</label>
                <ul class="list-unstyled" data-bind="foreach: workPackages">
                    <li>
                        <work-packaged-selector params="procedureWorkPackagedId: Id, workPackagedList: $parent.workPackagedList, addCallback: $parent.addWorkPackage, removeCallback: $parent.removeWorkPackage"></work-packaged-selector>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Step*</label>
                <ul class="list-unstyled" data-bind="foreach: businessItemSteps">
                    <li>
                        <step-selector params="procedureStepId: Id, steps: $parent.workPackageSteps, addCallback: $parent.addStep, removeCallback: $parent.removeStep"></step-selector>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control form-control-md" data-bind="textInput: webLink" />
            </div>
            <div class="form-group">
                <label>Date</label>
                <date-entry params="date: businessItemDate"></date-entry>
            </div>
            @if (Model.BusinessItemId.HasValue)
            {
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control form-control-md" data-bind="textInput: businessItem.TripleStoreId" readonly />
                </div>
            }
            @if (Model.BusinessItemId.HasValue)
            {
                <h6 class="text-muted">Business item can be deleted only if its Laying is deleted first.</h6>
            }
            <section>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave, click: function(){save(null);}">@(Model.BusinessItemId.HasValue ? "Update" : "Add")</button>
                <button type="submit" class="btn btn-outline-primary btn-sm" data-bind="enable: canSave, visible: workPackageIds().length===1, click: saveAndReturnToWorkPackaged">@(Model.BusinessItemId.HasValue ? "Update and return to work package" : "Add and return to work package")</button>
                @if (Model.BusinessItemId.HasValue)
                {
                    <button data-bind="click: showDeletePopup" type="button" class="btn btn-outline-secondary btn-sm">Delete</button>
                }
            </section>
        </form>
    </div>
</section>
<popup params="popupText:warningText, isPopupVisible:isDeletePopupVisible, action:deleteBusinessItem, actionText: 'Delete'"></popup>

@section scripts{
    <script data-main="/Scripts/Views/businessitemedit.js" src="~/Scripts/require.js"></script>
}
