@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <h2>Business items</h2>
        <a href="/BusinessItem/Add" class="btn btn-outline-primary btn-sm">Add business item</a>
    </div>
</section>

<section>
    <div class="container">
        <ul class="list-group list-group-flush" data-bind="visible:businessItems().length>0, foreach: businessItems">
            <li class="list-group-item">
                <a data-bind="attr: {href: window.urls.showBusinessItem.replace('{id}',Id)}">
                    <ul class="list-unstyled" data-bind="foreach: Steps">
                        <li>
                            <h5 data-bind="text: ProcedureStepName"></h5>
                            <ul class="list-inline" data-bind="foreach: HouseNames">
                                <li class="list-inline-item"><h6 data-bind="text: $data"></h6></li>
                            </ul>
                        </li>
                    </ul>
                    <h6 data-bind="text: ProcedureWorkPackageableThingName"></h6>
                    <h6 data-bind="text: ProcedureName"></h6>
                    <h6 data-bind="text: isNaN(Date.parse(BusinessItemDate))?'N/A':new Date(BusinessItemDate).toLocaleDateString('en-GB')"></h6>
                </a>
            </li>
        </ul>
    </div>
</section>



@section scripts{
    <script src="~/Scripts/Views/businessitemlist.js"></script>
}
