<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procedure Editor</title>
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Procedure Editor</h1>
            <div class="text-right"><small>@User.Identity.Name</small></div>
        </div>        
    </header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <div class="navbar-nav mx-auto border-bottom">
                <a href="/Procedure" class="nav-item nav-link">Procedures</a>
                <a href="/WorkPackage" class="nav-item nav-link">Work packages</a>
                <a href="/WorkPackagePreceding" class="nav-item nav-link">Work package precedings</a>
                <a href="/BusinessItem" class="nav-item nav-link">Business items</a>
                <a href="/LayingItem" class="nav-item nav-link">Laying items</a>
                <a href="/Route" class="nav-item nav-link">Routes</a>
                <a href="/Step" class="nav-item nav-link">Steps</a>
                <a href="/SolrFeed" class="nav-item nav-link">Solr feed</a>
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <h6>UK Parliament</h6>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
