<div class="input-group" data-bind="visible: governmentOrganisationId()!==null">
    <span class="form-control" data-bind="text: groupName"></span>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" data-bind="click: removeGovernmentOrganisation">Remove</button>
    </div>
</div>
<input class="form-control" data-bind="visible: governmentOrganisationId()===null, textInput: searchGovernmentOrganisationText" />
<ul class="list-group list-group-flush" data-bind="visible:filteredGovernmentOrganisations().length>0, foreach: filteredGovernmentOrganisations">
    <li class="list-group-item">
        <span data-bind="text: groupName"></span>
        <button type="button" class="btn btn-outline-primary" data-bind="click: $parent.selectGovernmentOrganisation">Select</button>
    </li>
</ul>