<h5 data-bind="text: procedureName"></h5>
<h6 data-bind="text: procedureRouteTypeName"></h6>
<h6>From: <span data-bind="text: fromProcedureStepName"></span></h6>
<h6>To: <span data-bind="text: toProcedureStepName"></span></h6>