<h5 data-bind="text: workPackaged.WorkPackagedThingName"></h5>
<h6 data-bind="text: statutoryInstrumentType"></h6>
<h6 data-bind="text: workPackaged.ProcedureName"></h6>
<h6>Date of the most recent business item: <span data-bind="text: mostRecentBusinessItemDate"></span></h6>
<h6 data-bind="text: workPackaged.TripleStoreId"></h6>