<div class="input-group" data-bind="visible: procedureWorkPackageId()!==null">
    <span type="text" class="form-control" data-bind="text: procedureWorkPackageableThingName"></span>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" data-bind="click: removeWorkPackage">Remove</button>
    </div>
</div>
<input class="form-control" data-bind="visible: procedureWorkPackageId()===null, textInput: searchWorkPackageText" />
<ul class="list-group list-group-flush" data-bind="visible:filteredWorkPackages().length>0, foreach: filteredWorkPackages">
    <li class="list-group-item">
        <h6 data-bind="text: ProcedureWorkPackageableThingName"></h6>
        <div><small data-bind="text: ProcedureName"></small></div>
        <div><small data-bind="text: isNaN(Date.parse(MostRecentBusinessItemDate))?'N/A':new Date(MostRecentBusinessItemDate).toLocaleDateString('en-GB')"></small></div>
        <button type="button" class="btn btn-outline-primary" data-bind="click: $parent.selectWorkPackage">Select</button>
    </li>
</ul>